In [1]:
import pandas as pd

In [9]:
df = {'Company':['BMW','Audi','Mercedes-Benz','Porsche','Porsche','Audi','BMW'],
      'Model':['M3 Competition','Q7','G-Wagon G63','911 GT3','Cayenne GTS','Q8 E-tron','7 Series 760 li'],
      'Displacement(cc)':[5000,4200,6200,2000,4334,3000,6000]}

In [10]:
cars = pd.DataFrame(df)
cars

         Company            Model  Displacement(cc)
0            BMW   M3 Competition              5000
1           Audi               Q7              4200
2  Mercedes-Benz      G-Wagon G63              6200
3        Porsche          911 GT3              2000
4        Porsche      Cayenne GTS              4334
5           Audi        Q8 E-tron              3000
6            BMW  7 Series 760 li              6000